# Backend Configuration
PORT=5000
NODE_ENV=development

# Database Configuration
DB_USER=lease_your_car_db_user
DB_HOST=dpg-d7f1lqfaqgkc739vdjp0-a
DB_DATABASE=lease_your_car_db_yxc0
DB_PASSWORD=aRyAtoKiGC8pDuuAo6xrhiQhq4tjKWdC
DB_PORT=5432
CLOUDINARY_CLOUD_NAME=dzbngdil4
CLOUDINARY_API_KEY=521831264519478
CLOUDINARY_API_SECRET=o4Uu5hDBGgMn74miuQ7LBBeQ9Xc


# JWT Secret
JWT_SECRET=aae8cbeda52fef1f93d6ebde33b6577c

# Frontend URL (for CORS)
FRONTEND_URL=https://deluxe-cassata-40b4fa.netlify.app


# File Upload
UPLOAD_DIR=./uploads
